// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
:root {
    font-size: 16px;
}

body {
  /*  font-family: 'Open Sans', sans-serif; */

    font-family: 'Quicksand', sans-serif;
    transition: all 0.2s linear;
    h1,h2,h3,h4,h5,h6{
      /*  font-family:'Abril Fatface'; */
        
        font-family: 'Old Standard TT', serif;
        color:$title-color;
    }
    .vce-post-description--title{
        h1,h2,h3,h4,h5,h6{
        /*    font-family:'Abril Fatface', cursive;*/
        font-family: 'Old Standard TT', serif;

            color:$title-color;
        }
        h3{
            font-size:1.35rem;
            font-weight:700;
        }
    }
    .vce-post-description--excerpt{
        font-family: 'Quicksand', sans-serif;
        line-height:1.2em;
    }

}

.btn-secondary {
    @include button-variant($active-colorwhite, $active-colorgrey);
    text-transform: uppercase;
}

.blog-title {
    padding-top: 25px;
    font-size: 47.77px;
    span{
        font-family:"Times new roman";
    }
    .hijrnotes {
        font-size: 33.35px;
    }
}

.entry-title {
    font-size: 1.35rem;
    padding-top: 30px;
    //padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    a, a:visited, a:hover, a:active {
        color: $title-color;
        //border-bottom: 1px solid #000;
        text-decoration: none;
        font-weight: bold;
    }
}

.widget-title {
    font-size: 1.35rem;
}

.entry-content {
    font-size: 16px;
    line-height: 1.2em;
}

#menu-fullwidth {
    margin-top: 25px;
    #main-menu-fullWidth {
        padding: 4px 0;
        margin: 0;
    }
    display: none;
    text-align: center;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    width: 100%;
    font-size: 18.57px;
    ul {
        margin-top: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            a, a:visited, a:hover, a:active {
                color: #000;
                text-decoration: none;
            }
        }
    }

}

.hijrnotes {
    font-family: "hijrnotes_personal_use_onlyRg" !important;
    //text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

// --- Media query related
@include media-breakpoint-up(md) {
    #main-menu {
        display: none;
    }
    #menu-fullwidth {
        display: block;
    }
}

#main-menu {
    li {
        a, a:visited, a:hover, a:active {
            border: none;
        }
    }

}

.navbar {
    ul {
        margin: 0;
        padding: 0;
        li {
            a, a:visited, a:hover, a:active {
                text-decoration: none;
                color: $black;
            }
        }
    }
}

.bg-grey {
    color: #666;
    .navbar-toggler {
        color: #666;
    }

    a.nav-link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
        color: #000;
        border-bottom: 1px solid #000;
    }

}

.img-container {
    padding: 15px;
}

.understrap-read-more-link {
    font-size: 21.5px;
    border-radius: 1px;
    padding: 12px 12px;
    border-color: #000;
}

#wrapper-footer {
    font-family: "Poppins", sans-serif;
}

.site-footer {
    *{
        color:white;
        font-family: "Poppins", sans-serif;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
    }
    ul {
        li a {
            font-size: 14px;
        }
    }
}

.textbox-newsletter {
    font-size: 18px;
}

.mc-form {
    padding-top: 10px;
}

#colophon > .row > div {
    @include media-breakpoint-down(md) {
        padding: 20px;
    }
}

.type-page {
    .entry-title:empty {
        display: none;
    }
}

.entry-meta {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.blog-title {
    a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #000;
    }
}

.no-padding {
    padding: 0;
}

.search-button {
    padding: 10px;
}

article header {
    .entry-title {
        padding-top: 0;
    }
    .entry-meta {
        padding-top: 0px;
    }

    .img-container {
        padding: 10px 0;
    }
}

.navbar.navbar-expand-md {
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn {
    border-radius: 0;
}

.navbar ul li {
    font-size: 20px;
}

#colophon:first-child {
    padding-top: 30px;
}

article .btn {
    &:hover {
        color: $white;
        background-color: $black;
    }
}

article .single {
    padding-bottom: 30px;
}

aside .widget-title {
    text-align: center;
    font-weight: bold;
}

aside{
    .separators{
        margin:15px auto;
        border:1px solid $black;
        border-left:none;
        border-right:none;
        width:80%;
        height:10px;
    }
    .widget-title{
        color:$title-color;
    }
    .sidebar-box{
        
        margin-top:32px;
        .infos-post{
            width:80%;
            background-color:$white;
            margin:-15% auto 0;
            position:relative;
            z-index:10;
            padding:15px;
            .categorie-post{
                font-weight:900;
                font-size:1.1vw;
                letter-spacing:0.05em;
                text-transform: uppercas;
                margin-bottom:10px;
            }
            .titre-post{
                width:100%;
                margin:0 auto;
                font-size:18.6px;
                font-weight:700;
                letter-spacing:0.05em;
                text-transform:uppercase;
                margin-bottom:20px;
            }
            .read-more{
                &:hover{
                    background-color:$black;
                    color:$white;
                    text-decoration:none;
                }
                display:inline-block;
                padding: 12px;
                font-size:21.5px;
                border: 1px solid $black;
                text-transform:uppercase;
                color: $black;
            } 
        }

    }
}

article{
    padding-bottom:20px;
}

article:not(:first-child){
    padding-top:20px;
    border-top: 1px solid $black;
}

.vce-posts-grid-list article{
    padding-top:0px;
}

.entry-content{
    p {
        margin-bottom:16px;
    }
}

