// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
:root {
  font-size: 16px;
}

body {
  font-family: "CordaLight";
  transition: all 0.2s linear;
}

.btn-secondary {
  @include button-variant($active-colorwhite, $active-colorgrey);
  text-transform: uppercase;
}

.blog-title {
  padding-top: 25px;
  font-size: 47.77px;
  .hijrnotes {
    font-size: 33.35px;
  }
}

.entry-title {
  font-size: 21.5px;
  padding-top: 30px;
  //padding-bottom: 30px;
  text-transform: uppercase;
  color: #000;
  a, a:visited, a:hover, a:active {
    color: #000;
    //border-bottom: 1px solid #000;
    text-decoration: none;
    font-weight: bold;
  }

}

.entry-content {
  font-size: 16px;
  line-height: 1.2em;
}

#menu-fullwidth {
  margin-top: 25px;
  #main-menu-fullWidth {
    padding: 4px 0;
    margin: 0;
  }
  display: none;
  text-align: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 18.57px;
  ul {
    margin-top: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      a, a:visited, a:hover, a:active {
        color: #000;
        text-decoration: none;
      }
    }
  }

}

.hijrnotes {
  font-family: "hijrnotes_personal_use_onlyRg";
  //text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

// --- Media query related
@include media-breakpoint-up(md) {
  #main-menu {
    display: none;
  }
  #menu-fullwidth {
    display: block;
  }
}

#main-menu {
  li {
    a, a:visited, a:hover, a:active {
      border: none;
    }
  }

}

.navbar {
  ul {
    margin: 0;
    padding: 0;
    li {
      a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: $black;
      }
    }
  }
}

.bg-grey {
  color: #666;
  .navbar-toggler {
    border-color: #666;
    color: #666;
  }

  a.nav-link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
    color: #000;
    border-bottom: 1px solid #000;
  }

}

.img-container {
  padding: 15px;
}

.understrap-read-more-link {
  font-size: 21.5px;
  border-radius: 1px;
  padding: 12px 12px;
  border-color: #000;
}

#wrapper-footer {
  font-family: "Poppins", sans-serif;
}

.site-footer {
  h3 {
    font-size: 14px;
    font-weight: 700;
  }
  ul {
    li a {
      font-size: 14px;
    }
  }
}

.textbox-newsletter {
  font-size: 14px;
}

.mc-form {
  padding-top: 10px;
}

#colophon > .row > div {
  @include media-breakpoint-down(md) {
    padding: 20px;
  }
}

.type-page {
  .entry-title:empty {
    display: none;
  }
}

.entry-meta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: italic;
}

.blog-title {
  a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
  }
}

.no-padding {
  padding: 0;
}

.search-button {
  padding: 10px;
}

article header {
  .entry-title {
    padding-top:0;
  }
  .entry-meta {
    padding-top: 0px;
  }

  .img-container {
    padding: 10px 0;
  }
}


.navbar.navbar-expand-md{
  padding-top: 0px;
  padding-bottom: 0px;
}


.btn{
  border-radius: 0;
}

.navbar ul li{
  font-size:20px;
}

#colophon:first-child{
  padding-top: 30px;
}